#碳素云开发文档

**目录**

[TOCM]

[TOC]

#函数列表
<foreach name="functions" item="func">
##{$func.zh}({$func.name})
作者:{$func['author']}  链接:{$func['link']}
>{$func.memo}<php>echo "\r\n";</php>
参数列表：
<if condition="$func['params']">
| 参数名称 |参数代码   | 数据类型 | 必填 | 默认值 | 说明 |
| --------   | :-----:  | :----:  | :----:  | :----:  | :----:  |
<foreach name="func['params']" item="param">
| {$param['zh']} |{$param['name']}   | {$param['type']} | {$param['must']} | {$param['default']} | {$param['memo']} |<php>echo "\r\n";</php>
</foreach>
</if>

返回值：
{$func['return']}
</foreach>

#类列表
<foreach name="classes" item="cla">
##{$cla['zh']} ({$cla['name']})
作者:{$cla['author']}  链接:{$cla['link']}

>{$cla['memo']}<php>echo "\r\n\r\n";</php>

###属性
<if condition="$cla['properties']">
<foreach name="cla['properties']" item="property">
####[{$property['access']}]{$property['zh']}({$property['name']})
</foreach>
</if>
###方法
<if condition="$cla['methods']">
<foreach name="cla['methods']" item="method">

####[{$method.access}] {$method.zh} ({$method.name})
请求地址：<?php echo str_replace(["\\\\","\\"],['/','/'],str_replace(['Controller','Object'],'',$cla['name'])),'/',$method['name'],"\r\n"; ?>
作者:{$method['author']}  链接:{$method['link']}

参数列表：<php>echo "\r\n\r\n";</php>
<if condition="$method['params']">
| 参数名称 |参数代码   | 数据类型 | 必填 | 默认值 | 说明 |
| --------   | :-----:  | :----: | :----:  | :----:  | :----:  |
<foreach name="method['params']" item="param">
| {$param['zh']} |{$param['name']}   | {$param['type']} | <if condition="$param['must']">是<else/>否</if> | {$param['default']} | {$param['memo']} |<php>echo "  \r\n";</php>
</foreach>
</if>
<php>echo "\r\n";</php>
返回值：
{$method['return']}
<php>echo "\r\n\r\n";</php>
</foreach>

</if>
</foreach>
<php>echo "\r\n";</php>
