#碳素云开发文档

**目录**

[TOCM]

[TOC]

#函数列表
<foreach name="functions" item="function">
    ##{$function.zh}({$function.name})
    作者:{$function.author}  链接:{$function.link}
    参数列表：
    <if condition="function.params">
        | 参数名称 |参数代码   | 类型  | 默认值 | 说明 |
        | --------   | -----:  | :----:  | :----:  | :----:  |
        <foreach name="function.params" item="param">
            | {$param.zh} |{$param.name}   | {$param.type} | {$param.default} | {$param.memo} |
        </foreach>
    </if>

    返回值：


    备注：

    >备注内容

</foreach>
#类列表
##类名称(类名称)
###属性
####[私有]属性名称(属性名称)
###方法
####[私有]方法名称(方法名称)
作者:{$author}  链接:{$link}
参数列表：

| 参数名称 |参数代码   | 类型  |
| --------   | -----:  | :----:  |
| 参数名称 |参数代码   | 类型  |
返回值：

| 参数名称 |参数代码   | 类型  |
| --------   | -----:  | :----:  |
| 参数名称 |参数代码   | 类型  |
备注：
>备注